*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.navbar{
    background-color: #F85559;
    border-radius: 20px;
    padding: 10px;
    color: white;
}
.modal-img{
    width: 150px;
    height: 150px;
    margin-left: 160px;
}
.show-btn{
    text-align: center;
}
.red-btn{
    background-color: #F85559;
    color: white;
}
.customer-sec{
    background-image: linear-gradient(to bottom, rgba(20, 22, 32, 0.52), rgba(117, 19, 93, 0.73)), url("./images/team.png");
    height: 640px;
    width: 1280px;
    border-radius: 10px;
    opacity: 0.7;
}
.txt-sec{
    text-align: center;
}
.banner-1{
    background-image: url('./images/banner1.png');
    height: 600px;
    width: 1440px;
}
.banner-2{
    background-image: url('./images/banner2.png');
    height: 600px;
    width: 1440px;
}
.banner-3{
    background-image: url('./images/banner3.png');
    height: 600px;
    width: 1440px;
}
.banner-4{
    background-image: url('./images/banner4.png');
    height: 600px;
    width: 1440px;
}
.fruit-img{
    height: 141px;
    width: 116px;
}
.footer-sec{
    background-color: black;
    padding: 190px;
}